#Ignore this files
.gitignore.swp
README
autom4te.cache
aclocal.m4
m4/
m4/*.m4
autoscan.log
config.*
configure
install-sh
valgrind.log
session.ini
INSTALL
missing
stamp-h1
Makefile
Makefile.in
depcomp
compile
tags
src/*.o
src/.deps/
src/tags
src/sokorobot
.buildconfig
po/*.mo
po/*.gmo
po/*.sed
po/*.pot
po/*.sin
po/*.header
po/stamp-h1
po/POTFILES
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/stamp-po
# Except this files

